/* ===================== main ===================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} */

/* ===================== Header ===================== */


.header{
    box-shadow: 0 0 10px rgba(16, 46, 74, 0.1);
    padding: 15px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
}

.menu__item{
    margin-left: 25px;
}
.menu__link{
    text-decoration: none;
    color: #102E4A;
    padding: 5px 0;
    font-size: 18px;
    display: block;
}

.menu__link--active{
    border-bottom: 2px solid #A682FF;
}

.logo{
    width: 75px;
}

.logo__img{

    width: 100%;
}



